#banner_home{
	padding: 10px 0 10px 18px;
	overflow: auto;
}

#box_banner{
    border: 0.1em solid #EBEBEB;
    margin: 0 0 11px 12px;
    padding: 0.1em;
	width: 936px;
    text-align: center;
    -moz-box-shadow: 0 0 0.2em #BCBCBC;
    -webkit-box-shadow: 0 0 0.2em #BCBCBC;
    box-shadow: 0 0 0.2em #BCBCBC;
	float: left;
}

#cont_banner{
    background: none repeat scroll 0 0 #F5F5F5;
}

#cont_banner div{
   padding: 0 0 0 3px;
   text-align: left;
}

.paginacao{
	float: right;
}

div#cycle-nav-banner {
	display: inline;
}

.paginacao-banner{
	height: 0;
	position: relative;
	bottom: 23px;
    right: 2px;
}

div#cycle-nav-banner {
	display: inline;
}

div#cycle-next-banner img {
	margin-left: 5px;
}

div#cycle-prev-banner img {
	margin-left: -3px;
}
