#banner_homepage {
	margin: 5px 0 0 10px;
    overflow: hidden;
    padding-bottom: 1px;
    width: 980px;
}

#banner_home{
	padding: 0 17px;
}

#box_banner{
    margin: 0 0.25em;
	text-align: center;
}

#cont_banner{
}

#cont_banner div{
   text-align: left;
}

#cont_banner div img {
	max-width: 990px;
	*width: 990px;
}

.paginacao{
	float: right;
}

div#cycle-nav-banner {
	display: inline;
}

.paginacao-banner{
	height: 0;
	position: relative;
	bottom: 23px;
    right: 2px;
}

div#cycle-nav-banner {
	display: inline;
}

div#cycle-next-banner img {
	margin-left: 5px;
}

div#cycle-prev-banner img {
	margin-left: -3px;
}
