/* 
 * * * CONTEUDO PAGINA * * *
 */
#geral_colunas {
    margin: 5px 0 0 10px;
    width: 980px;
	padding-bottom: 1px;
}

#geral_colunas p,
#portal-columns p{
	color: #6D6D6D;
    font-size: 12px;
    line-height: 16px;
}

/* Coluna Tipo 1 : portal-column-content */
#geral_colunas .colunaTipo1{
    float: left;
    padding: 0 13px 0 16px;
    width: 708px;
}

/* Coluna Tipo 2 : portal-column-content HomePage */
#geral_colunas .colunaTipo2{
    float: left;
    padding: 0 17px;
    width: 462px;
}

/* Coluna Tipo 3 : portal-column-one e two */
#geral_colunas .colunaTipo3{
    float: left;
    width: 240px;
}

#geral_colunas .colunaTipo3 div.portlet {
	padding-right: 16px;
}

/* As duas regras abaixo sao usadas 
 * no manage-portlets do conteudo 
 * Home Page... */
#geral_colunas .colunaTipo4{
    float: left;
    width: 240px;
	margin-left: 20px;
}


#geral_colunas .colunaManagePortlets {
 	float: left;
    width: 460px;	
}

.quebraLinha {
	word-wrap: break-word;
}
/* ... */

.contBoxTipo1{
    background: url("++resource++vindula.themedefault/images/bkgs/conBoxTipo1.png") repeat-y scroll 0 0 transparent;
    padding: 15px 20px;
    width: 427px;
}

.boxTipo1{
    margin: 0 0;
    width: 465px;
}

.topoBoxTipo1{
	*margin:0 0 -13px 0;
}

.topoBoxTipo1 img{
	*vertical-align:top;
}

.cont_superior{
    border-bottom: 1px solid #000000;
    padding: 0 0 5px;
	*padding: 0;
}

.titulo{
	float:left;
}

.contBoxDestaque{
	margin: 0 0 20px;
}

.opcoes_destaque{
	float:right;
}

.opcoes_destaque a{
	color: #000000;
    font-size: 12px;
}

.opcoes_destaque input{
	*margin:0 -5px 0 0;
}

.anterior{
	margin: 0 5px 0 0;
	*margin: 0;
}

.proximo{
	margin: 0 0 0 5px;
}

.titulo h2 {
    color: #F58220;
    font-weight: bold;
    line-height: 20px;
}

.titulo_info h2 {
    font-weight: bold;
    line-height: 20px;
    margin: 15px 0;
	color: #000000;
}

.titulo_info h4{
    font-weight: bold;
    line-height: 16px;
    margin: 10px 0 5px;
}

.img_info,
.gallery-cycle .img_info {
    float: left;
    margin: 0 15px 15px 0;
    padding: 3px;
    text-align: center;
}

.gallery-cycle .img_info {
	border: 3px double #CCCCCC;
}

.gallery-cycle .img_info img {
	max-height: 165px;
}

.descricao_destaque h4{
    color: #F58220;
    font-weight: normal;
    line-height: 16px;
}

.borderDif{
    border-bottom: 1px dashed #959595;
    padding: 0 0 10px;
}

.borderDif2{
    border-bottom: 1px dashed #959595;
    padding: 0 0 5px;
}

.marginDif{
	*margin-bottom:-15px;
}

.marginDif1{
	*margin-bottom:-5px;
}

/* coluna Tipo 3 */

.boxTipo2{
 	margin: 0 0 10px 0;
}

.topoBoxTipo2 {
    background: url("++resource++vindula.themedefault/images/bkgs/topoBoxTipo2.png") no-repeat scroll 0 0 transparent !important;
    padding: 20px 0 !important;;
    text-align: center;
    width: 228px;
}

.topoBoxTipo2 h2 {
	color:#FFFFFF !important;
	font-size: 18px;
}

.contBoxTipo2 {
    background: url("++resource++vindula.themedefault/images/bkgs/conBoxTipo2.png") repeat-y scroll 0 0 transparent;
    padding: 1px 13px 10px;
    width: 202px;
}

.titulo_info_boxTipo2 h4{
	color: #F58220;
	font-weight: normal;
	line-height: 16px;
}

.descricao_boxTipo2 h4{
	color: #000000;
    font-weight: bold;
    line-height: 16px;
}

.descricao_boxTipo2 p{
 	text-align: left !important;
}

.info_boxTipo2{
    margin: 10px 0 0;
}

.img_infoboxTipo2{
	float:left;
}

.img_info_boxTipo2{
	border:1px solid #CCCCCC;
    float: left;
    margin: 0 10px 0 0;
}

.imgDif_info_boxTipo2{
    border: 1px solid #CCCCCC;
    margin: 0 0 10px;
}

.rodapeBoxTipo2 img{
	vertical-align:top;
}

.descricao_boxTipo2 p span{
	font-weight:bold;
}

.lista_itens_boxTipo2 p span{
	font-weight:bold;
}

.img_descricao_item{
    float: left;
    margin: 0 19px 10px 0;
    width: 50px;
	*margin: 0 18px 10px 0;
}

.img_descricao_item p{
	text-align:center;
}

.itens_boxTipo2{
	 margin: 15px -10px 0 5px;
	*margin: 15px 0 0 5px;	
}

.boderBottom1{
    border-bottom: 1px solid #D1D3D4;
    padding: 0 0 10px;
}

.boderTop1{
    border-top: 1px solid #D1D3D4;
    padding: 10px 0 0;
	*padding: 5px 0 0;
}

.lista_itens_boxTipo2{
	   margin: -5px 0 0;
}

.imagem{
    border: 1px solid #CCCCCC;
    width: 50px;
}

.topoBoxTipo,
.bottomBoxTipo {
	*margin:0 0 -12px 0;
}

.topoBoxTipo img,
.bottomBoxTipo img {
	*vertical-align:top;
}
#vindula-home-page .topoBoxTipo{
	margin-top: -10px;
}

.contBoxTipo{
	float: left;
	background: url("++resource++vindula.themedefault/images/bkgs/conBoxTipo.png") repeat-y scroll 0 0 transparent;
    padding: 15px 20px;
    width: 668px;
}

.info_data{
	float:left;
}

.indicacao_comentario{
	float:right;
}

.info_topoBoxTipo h4{
	color: #F58220;
    font-weight: normal;
    line-height: 16px;
}

.descricao_titulo h4{
	color: #F58220;
    font-weight: normal;
    line-height: 16px;
}

.descricao_titulo p{
	font-weight:bold;
	text-align:justify;
}

.descricao_destaque p{
	text-align:justify;
}

.texto_pagina p{
	margin: 0 0 20px;
}

.opcoes_noticia{
    border-top: 1px dashed #959595;
    margin: 15px 0 10px 0;
    padding: 10px 0 0;
	width:100%;
	*margin: 15px 0 0px 0;
}

.opcoes_noticia h4{
    color: #F58220;
    float: left;
    font-weight: normal;
    line-height: 16px;
    margin: 0 10px 0 0;
}

.opcao1{
	float:right;
	width: 220px;
}

.opcao2{
    float: right;
    margin: 0 25px;
}

.titulo_area h2{
	color: #F58220;
    font-weight: bold;
    line-height: 20px;
}

.titulo_area{
    border-bottom: 1px solid #F58220;
    padding: 0 0 10px;
	margin:0 0 10px 0;
}

.bt_comentar{
	margin:5px 0 0 0;
}

.bt_comentar input{
    background: url("++resource++vindula.themedefault/images/buttons/bt_comentar.png") no-repeat scroll 0 0 #F58220;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    height: 37px;
    padding: 0 0 2px;
    text-transform: uppercase;
    width: 97px;
	*padding: 0;
	border: none;
}

.geral_lista_comentarios{
	padding:0 0 20px 0;
}

.lista_comentarios{
    border: 1px solid #D1D3D4;
    padding: 15px 20px 0 20px;
	margin:20px 0 0 0;
}

.geral_lista_comentarios .comment {
	border-top: 1px dashed #F58220 !important;
	padding-top: 10px !important;
}

.geral_lista_comentarios .comments-cont .comments-cont .comment {
	border-top: none !important;
}

.geral_lista_comentarios div#like span,
.geral_lista_comentarios span#number-comments,
.geral_lista_comentarios span#show-hide {
	color: #000000 !important;
}

.geral_lista_comentarios .comments-cont .comments-cont {
	 padding: 1px 25px 0 0 !important;
}

.geral_lista_comentarios .item_lista {
	margin: 0;
	padding: 0 0 5px;
}

.item_lista{
    margin: 0 0 15px;
    padding: 0 0 15px;
}

.item_lista h4{
	color: #F58220;
    font-weight: normal;
    line-height: 16px;
}

.item_lista h4 span{
	color: #6D6D6D;
	font-weight:bold;
}

.item_lista p{
	margin: 5px 0 0;
	text-align:justify;
}

.borderBottomNone{
	border-bottom:none !important;
}

.paddingNone{
	padding: 0 !important;
}

/* BEGIN - NEW CONTENT*/

/* BEGIN -  SOMBRA DO TOPO E DO RODAPE DO CONTEUDO DO MEIO */
#portal-columns .shadowTpBt {
	height: 4px;
	position: relative;
	margin: 0 4px;
}

#portal-columns .topContCol {
	background: url("++resource++vindula.themedefault/images/bkgs/1px_images/topoBoxTipo_1px.png") repeat-x scroll 0 0 transparent;
	bottom: 1px;
}

#portal-columns .bottonContCol {
	background: url("++resource++vindula.themedefault/images/bkgs/1px_images/bottonBoxTipo_1px.png") repeat-x scroll 0 0 transparent;
	top: 2px;
}
/* END -  SOMBRA DO TOPO E DO RODAPE DO CONTEUDO DO MEIO */

/* BEGIN -  SOMBRA LATERAL E FUNDO DO CONTEUDO DO MEIO */
#portal-columns .columnMid {
	margin: 15px;
}

#portal-columns .columnContRight {
	background: url("++resource++vindula.themedefault/images/bkgs/1px_images/conBoxTipo_1px_Right.png") repeat-y scroll 100% 0 transparent;
}

#portal-columns {
	padding: 5px 0 20px 15px;
    width: 96%;
}

#portal-column-content {
	margin-top: 2px;
	background:#FFF;
	background: url("++resource++vindula.themedefault/images/bkgs/1px_images/conBoxTipo_1px_Left.png") repeat-y scroll 0 0 #FFFFFF;
}
/* END -  SOMBRA LATERAL E FUNDO DO CONTEUDO DO MEIO */

/* BEGIN -  EDICAO DE CLASSES DO DECO PARA DEIXAR A O ESPACO ENTRE AS COLUNAS IGUAL A HOME PAGE */
div.width-1\3a 2 { width:    48.75%; } /* .width-1:2 */
div.width-3\3a 4 { width:    73.75%; } /* .width-3:4 */
div.width-full   { width:    98.75%  }
/* END -  EDICAO DE CLASSES DO DECO PARA DEIXAR A O ESPACO ENTRE AS COLUNAS IGUAL A HOME PAGE */

/* END - NEW CONTENT */


/* Altera��es para p�gina Not�cias... */
.width1{
	width:96%;
}

.colunaTotal,
.contentHome {
    margin: 0 20px;
}

.topoBox_colunaTotal{
    padding: 20px 20px 0;
}

.bk_sombraTopo{
    background: url("++resource++vindula.themedefault/images/bkgs/sombra_cont_topo.png") repeat-x scroll center top #FFFFFF;
}

.bk_sombraEsquerda{
    background: url("++resource++vindula.themedefault/images/bkgs/sombra_cont_esquerda.png") repeat-y scroll left center transparent;
    margin: 0 0 0 -3px;
}

.bk_sombraDireita{
    background: url("++resource++vindula.themedefault/images/bkgs/sombra_cont_direita.png") repeat-y scroll right center transparent;
    margin: 0 -3px 0 0;
    padding: 3px 0 0;
	*position:relative;
	*margin:0;
}

.contBox_colunaTotal{
    padding: 5px 20px;
}

#newsImageContainer{
    float: left;
    margin:0 1em 0 0;
}

#newsImageContainer img{
	background-color: #FFFFFF;
}

#newsImageContainer #parent-fieldname-image{
    border: 0.1em solid #EBEBEB;
	margin: 0 0 0.5em;
    padding: 0.1em;
    -moz-box-shadow: 0 0 0.2em #BCBCBC;
    -webkit-box-shadow: 0 0 0.2em #BCBCBC;
    box-shadow: 0 0 0.15em #BCBCBC;
}

#newsImageContainer .bk_imagem{
    padding: 0.04em;
	text-align: center;
}

/* ...Altera��es para p�gina Not�cias */