/* 
 * * * RODAPE * * *
 */

#rodape{
	background: url("++resource++vindula.themedefault/images/bkgs/bk_rodape.png") no-repeat scroll 0 0 transparent;
    height: 121px;
	*width: 100%;
}

#rodape .logo {
    float: left;
    width: 190px;
    height: 83px;
	margin: 20px 0px 0 30px; 
}

#rodape .logo img {
	max-width: 190px;
	max-height: 83px;
}

#rodape form{
    color: #FFFFFF;
    margin: 20px 0 0;
	*margin: 35px 0 0;
}

#rodape .geral_busca{
    float: right;
    font-size: 12px;
    padding: 15px 30px 0 0;
	*padding: 0 30px 0 0;
	width:457px;
	height: 70px;
}

#rodape .info_rodape{
    float: left;
    margin: 35px 0 0 50px;
}

#rodape .info_rodape li {
    display: block;
    margin: 0 0 0;
	*margin: 0 0 5px 0;
}

#rodape .info_rodape li a{
    color: #BCBEC0;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

#informacao{
    margin: 10px auto;
    text-align: center;
	width:1000px;
}

#informacao p{
	color: #959595;
    font-size: 12px;
}