/* 
 * * * TOPO * * *
 */

#topo{
    background: url("++resource++vindula.themedefault/images/bkgs/bk_topo.png") no-repeat scroll 0 0 transparent;
    height: 96px;
    width: 1000px;
}

#topo #data h4{
    color: #6D6D6D;
    line-height: 16px;
    margin: 0 0 5px;
    text-align: right;
}

#topo li ul {
    background: none repeat scroll 0 0 #000000;
    margin: 6px 0 0 -40px;
    position: absolute;
    width: 940px;
	*margin: 24px 0 0 -94px;
}

#topo .logo{
    float: left;
	margin: 18px 43px 8px 40px;
	width: 430px;
	height:70px;
}

#topo .logo img {
	max-height: 70px;
	max-width: 430px;
} 

/* Campo busca... */
#topo .geral_busca {
    float: right;
    font-size: 12px;
	margin: 15px 30px 11px 0;
	width: 457px;
	height: 70px;
}

.geral_busca #portal-searchbox {
	margin-top: 0;
	width:100%;
}

.geral_busca #searchGadget {
    background: url("++resource++vindula.themedefault/images/icons/lupa.gif") no-repeat scroll 1% 50% #ECEDED;
    border: 1px solid #FFFFFF;
    color: #000000;
    float: left;
    font-weight: bold;
    height: 18px;
    padding: 5px;
    text-align: right;
    width: 370px;
}

.geral_busca .searchButton {
    background: none repeat scroll 0 0 #FAA61A;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    width: 75px;
}

.geral_busca .searchSection {
	 white-space: normal;
	 color: #000000;
	 font-size: 12px;
}

#rodape .geral_busca .searchSection label,
#rodape .geral_busca .searchSection label:hover {
	 color: #FFFFFF;
}

.geral_busca .searchSection #searchbox_currentfolder_only {
	margin-right: 6px;
	margin-top: 5px;
	*margin-top:0;
}

.geral_busca .campo_opcao{
    color: #000000;
    margin: 5px 5px 0 0;
}

.geral_busca #LSResult {
	width: 257px;
   	background-color: #E3E3E3;
   	position: relative;
    left: 268px;
    *left: 236px;
    top: -14px;
	*top: -10px;  
 	/*position: absolute;
    left: 1121px;
    top: 130px;*/	
	z-index: 99;
}

#rodape .geral_busca #LSResult {
    top: -102px;
}

.geral_busca #LSResult .livesearchContainer {
	border: none;
}

.geral_busca #LSResult .livesearchContainer #livesearchLegend {
	display: none;
    /*background-color: #FAA61A;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;*/
}
/* ...Campo busca */

#alert-display{
    margin: 0 30px 0 30px;
    width: 940px;
}

/* 
 * * * NAV * * *
 */

#nav{
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 30px 0 30px;
    width: 940px;
}

#nav ul{ 
	list-style: none outside none;
}

/* Nivel 1... */
#nav .nivel1 { 
	float:left;
	border-bottom: 4px solid #000000;
	background-color: #FFFFFF;
	width: 940px;
}

#nav .nivel1 li{
    float: left;
    padding: 6px 20px;
}

#nav .nivel1 li.selected {
    background: none repeat scroll 0 0 #000000;
    /*margin: 0 0 0 20px;*/
}

#nav .nivel1 li.selected a { 
	color:#FFFFFF; 
}

#nav li a:hover { 
	color:#F58220; 
}

#nav ul.menu-normal li:hover a { 
	color:#F58220; 
}
/* ...Nivel 1 */


/* Nivel 2... */
#nav .nivel2 {
	float:left;
	margin-top: -4px;
    background: none repeat scroll 0 0 #000000;
    width: 940px;
}

#nav .nivel2 li{
	float:left;
	display:block;
}

#nav .nivel2 li a { 
	color: #FFFFFF;
	display: inline-block;
    padding: 3px 12px;
}
#nav .nivel2 li,
#nav .nivel2 li.selected {
    float: left;
    margin: 4px;
}

#nav .nivel2 li.selected a { 
	color: #000000; 
}
/* ...Nivel 2 */


/* 
 * * * NAV DROP DOWN * * *
 */

#portal-globalnav-drop {
	padding:0; 
	margin: 0 0 12px;
	list-style: none;
	height: 30px;
}

#portal-globalnav-drop .nivel2{
    margin-top: 8px;
}


#portal-globalnav-drop .nivel2,
#portal-globalnav-drop .nivel3 {
	top: 26px;
    width: 200px;
    background: url("++resource++vindula.themedefault/images/bkgs/bg_menu.jpg") repeat scroll 0 0 #525254;
}

#portal-globalnav-drop .nivel2 li,
#portal-globalnav-drop .nivel3 li{
    margin: 0;
}

#portal-globalnav-drop .nivel2 li,
#portal-globalnav-drop .nivel2 li.selected {
    /*border-width: 0 0 1px 0 !important;*/
	border:none;
	float: none;
	background: none;
}

#portal-globalnav-drop .nivel2 li:last-child {
    border-width: 0 !important;
}

#portal-globalnav-drop .selected a{
    background-color: #000;
}

 
#portal-globalnav-drop li:hover a {
    background-color: #525254;
    color:#e4e4e4; 
}



#portal-globalnav-drop li:hover a.contains-subtab {
    padding-bottom: 11px; 
}

#portal-globalnav-drop li a:hover.cor-hover{
    color:#e4e4e4; 
}

#portal-globalnav-drop li ul.nivel2 li a{
    background: none;
	padding: 8px 12px;
}

#portal-globalnav-drop.nivel1 li.selected a:hover{
	color:#F58220 !important;
}

#portal-globalnav-drop.nivel1 li.selected{
	margin: 0;
}

#portal-globalnav-drop .padding-bottom{
    padding-bottom: 6px;
}

#portal-globalnav-drop li { text-align: center; padding: 0 !important;}
#portal-globalnav-drop li a{ padding: 8px 15px 0; display: inline-block;}
#portal-globalnav-drop li ul {display: none; width:166px; z-index: 1000; position: relative;}
#portal-globalnav-drop li ul li a{ padding: 9px 12px 8px;}

#portal-globalnav-drop {z-index: 1; position: relative;}
	
#portal-globalnav-drop li {
	float:left; 
	position:relative;
}

#portal-globalnav-drop li a img{
    float: right;
    margin-top: 3%;
    
}

#portal-globalnav-drop li:hover ul li.selected a.hide,
#portal-globalnav-drop li:hover ul li:hover ul li.selected a.hide  {color:#F58220;}
#portal-globalnav-drop li:hover ul {display:block; position:absolute; left:0;}
#portal-globalnav-drop li:hover ul li a.hide {color:#e4e4e4; font-weight: lighter;}

#portal-globalnav-drop li:hover ul li {float:none; text-align: left;

}
#portal-globalnav-drop li:hover ul li a {display:block;}
#portal-globalnav-drop li:hover ul li:hover a.hide {background:#000; color:#F58220 !important;text-decoration: underline;}

#portal-globalnav-drop li:hover ul li ul {display:none;}

#portal-globalnav-drop li:hover ul li:hover ul li a.hide {background: url("++resource++vindula.themedefault/images/bkgs/bg_menu.jpg") repeat scroll 0 0 #525254;
                                                          color:#e4e4e4 !important;text-decoration: none;}

#portal-globalnav-drop li:hover ul li:hover ul {display:block; position:absolute; left:200px; top: 0;/* border-left: 1px #FFFFFF solid*/}
#portal-globalnav-drop li:hover ul li ul li:hover a.hide {background:#000; color:#F58220 !important;text-decoration: underline}


/* Links menu... */
#nav a{
	color:#000000;
	font-size:14px;
	font-weight:bold;
}

#nav .link_ativo{
    background: none repeat scroll 0 0 #000000;
    margin: 0 0 0 20px;
}

#nav .link_ativo a{
	color:#FFFFFF !important;
}
/* ...Links menu */