/* 
 * * * PLONE CSS UPDATES
 */

/* Coluna Tipo 3 (Portlets) */
div.colunaTipo3 div.portletWrapper {
	padding-right: 16px;
}
div.colunaTipo3 div.managePortletsLink {
	margin-right: 16px;
}

/* Edit Bar Background Color */
#edit-bar {
    background-color: #A6A6A6;
    border: 0.25em solid #A6A6A6;
	border-style: solid solid none;
}
#contentActionMenus {
	background: none repeat scroll 0 0 #A6A6A6;
}
#contentActionMenus dl.actionMenu a, 
#content-views  {
	background-color: #A6A6A6;
}
#contentActionMenus dl.actionMenu.activated dd {
	border-bottom: 0.5em solid #A6A6A6;
	background-color: #A6A6A6;
}

/* Personal Tools */
div#data #portal-personaltools {
	background:none;
	font-size: 100%;
	width: 100%;
	padding-right: 0;
}
#portal-personaltools dt { *margin-right: 15px; }
#portal-personaltools dd {
	*margin-right: 12px;
}
div#data #portal-personaltools dd {
	margin-top: 19px;
  	min-width: 145px;
    width: 145px;
}
div#data #portal-personaltools dd a:hover {
	background-color: #FFF;
	background-repeat: repeat;
	color: #000;	
}
div#data #portal-personaltools a#user-name,
div#data #portal-personaltools a#personaltools-login,
div#data dd.actionMenuContent a {
	color: #6D6D6D;
	font-weight: bold;
	line-height: 15px;
	text-align: right;
	float: right;
	width: 120px;
}
div#data dd.actionMenuContent li a {
	line-height: 2em;
}

/* Content Types Icons */
.contenttype-file { background: url("http://localhost:8080/vidula/contenttypes-sprite.png") no-repeat scroll 0 -428px transparent; }
.contenttype-document { background: no-repeat transparent 0px 4px url(http://localhost:8080/vidula/contenttypes-sprite.png); }
.contenttype-event { background: no-repeat transparent 0px -212px url(http://localhost:8080/vidula/contenttypes-sprite.png); }
.contenttype-folder { background: no-repeat transparent 0px -644px url(http://localhost:8080/vidula/contenttypes-sprite.png); }
.contenttype-link { background: no-repeat transparent 0px -1076px url(http://localhost:8080/vidula/contenttypes-sprite.png); }
.contenttype-news-item { background: no-repeat transparent 0px -1292px url(http://localhost:8080/vidula/contenttypes-sprite.png); }
.contenttype-plone-site { background: no-repeat transparent 0px -1508px url(http://localhost:8080/vidula/contenttypes-sprite.png); }
.contenttype-topic {background: no-repeat transparent 0px -1724px url(http://localhost:8080/vidula/contenttypes-sprite.png); }

/* These should only appear in the add menu */
#plone-contentmenu-factories .contenttype-file {
    background: no-repeat transparent 0px -428px url(http://localhost:8080/vidula/contenttypes-sprite.png);
}
#plone-contentmenu-factories .contenttype-image {
    background: no-repeat transparent 0px -860px url(http://localhost:8080/vidula/contenttypes-sprite.png);
}
.contenttype-document,
.contenttype-event,
.contenttype-folder,
.contenttype-link,
.contenttype-news-item,
.contenttype-plone-site,
.contenttype-topic,
#plone-contentmenu-factories .contenttype-file,
#plone-contentmenu-factories .contenttype-image {
    line-height: 2em;
    display: inline-block;
    *display: block;
    padding-left: 20px !important;
}



/* 
 * * * THEME CSS UPDATES
 */

/* Menu */
.nivel1 li.selected {
    background: none repeat scroll 0 0 #000000;
    margin: 0 0 0 20px;
}
.nivel1 li.selected a { color:#FFFFFF !important; }


/* Submenu */
.nivel2 {
    background: none repeat scroll 0 0 #000000;
    margin: 28px 0 0 0;
    *margin: 0;
    position: absolute;
    width: 940px;
}
.nivel2 li a { color: #FFFFFF !important; }
.nivel2 li,
.nivel2 li.selected {
    float: left;
	padding: 2px 12px;
    border: 4px solid #000000;
    /*border-left: 4px solid #000000;
    border-right: 4px solid #000000;*/
}
.nivel2 li.selected { background-color: #FFFFFF; }
.nivel2 li.selected a { color: #000000 !important; }

div#topo .logo{
    float: left;
	margin: 30px 246px 25px 30px;
	width: 237px;
	height:41px;
}

div#topo .geral_busca{
    float: right;
    font-size: 12px;
	margin: 15px 30px 11px 0;
	width: 457px;
	height: 70px;
}



/* 
 * * * LIBRARY
 */

/* Margins, widths and heights */
.margin-auto { margin: auto; }
.width965px { width: 965px; }
.min-height150px { height: auto; min-height: 150px; }