/* 
 * * * PLONE CSS UPDATES * * *
 */

/* Edit Bar Background Color... */
#edit-bar {
    background-color: #A6A6A6;
    border: 0.25em solid #A6A6A6;
	border-style: solid solid none;
}

#contentActionMenus {
	background: none repeat scroll 0 0 #A6A6A6;
}

#contentActionMenus dl.actionMenu a, 
#content-views  {
	background-color: #A6A6A6;
}

#contentActionMenus dl.actionMenu.activated dd {
	border-bottom: 0.5em solid #A6A6A6;
	background-color: #A6A6A6;
}
/* ...Edit Bar Background Color */


/* Personal Tools... */
div#data #portal-personaltools {
	background:none;
	font-size: 100%;
	width: 100%;
	padding-right: 0;
}

#portal-personaltools dt { *margin-right: 15px; }
#portal-personaltools dd {
	*margin-right: 12px;
}

div#data #portal-personaltools dd {
	margin-top: 19px;
	*margin-top: 4px;
  	min-width: 145px;
    width: 145px;
}

div#data #portal-personaltools dd a:hover {
	background-color: #FFF;
	background-repeat: repeat;
	color: #000;	
}

div#data #portal-personaltools a#user-name,
div#data #portal-personaltools a#personaltools-login,
div#data dd.actionMenuContent a {
	color: #6D6D6D;
	font-weight: bold;
	line-height: 15px;
	text-align: right;
	float: right;
	width: 120px;
}

div#data #portal-personaltools a#user-name {
	width: 457px;
	*width: 439px;
	height: 15px;
}

div#data dd.actionMenuContent li a {
	line-height: 2em;
}
/* ...Personal Tools */


/* Content Types Icons... 
.contenttype-file { background: url(/contenttypes-sprite.png) no-repeat scroll 0 -428px transparent; }
.contenttype-document { background: no-repeat transparent 0px 4px url(/contenttypes-sprite.png); }
.contenttype-event { background: no-repeat transparent 0px -212px url(/contenttypes-sprite.png); }
.contenttype-folder { background: no-repeat transparent 0px -644px url(/contenttypes-sprite.png); }
.contenttype-link { background: no-repeat transparent 0px -1076px url(/contenttypes-sprite.png); }
.contenttype-news-item { background: no-repeat transparent 0px -1292px url(/contenttypes-sprite.png); }
.contenttype-plone-site { background: no-repeat transparent 0px -1508px url(/contenttypes-sprite.png); }
.contenttype-topic {background: no-repeat transparent 0px -1724px url(/contenttypes-sprite.png); }

* These should only appear in the add menu *
#plone-contentmenu-factories .contenttype-file {
    background: no-repeat transparent 0px -428px url(/contenttypes-sprite.png);
}

#plone-contentmenu-factories .contenttype-image {
    background: no-repeat transparent 0px -860px url(/contenttypes-sprite.png);
}

.contenttype-document,
.contenttype-event,
.contenttype-folder,
.contenttype-link,
.contenttype-news-item,
.contenttype-plone-site,
.contenttype-topic,
#plone-contentmenu-factories .contenttype-file,
#plone-contentmenu-factories .contenttype-image {
    line-height: 2em;
    display: inline-block;
    *display: block;
    padding-left: 20px !important;
}
 ...Content Types Icons */


/* Portlets ... */
.portletWrapper a { 
	color:#000000 !important; 
}

.portletWrapper .portletHeader {
    background: url("++resource++vindula.themedefault/images/bkgs/topoBoxTipo2.png") no-repeat scroll 0 0 transparent !important;
    padding: 20px 0 !important;
    text-align: center;
    width: 228px;
	color: #FFFFFF !important;
	font-size: 18px;
}

/* Vindula Portlet Estatico  */
.portletWrapper .portletHeader-dainamic {
	background:none;
    padding: 0 !important;
    text-align: center;
    width: 228px;
	color: #FFFFFF !important;
	font-size: 18px;
}

.portletWrapper .portletHeader-dainamic .topPortlet {
    background: url("++resource++vindula.themedefault/images/bkgs/topoBoxTipo2-top.png") no-repeat scroll 0 0 transparent !important;
	height:15px;
}

.portletWrapper .portletHeader-dainamic .meioPortlet{
    background: url("++resource++vindula.themedefault/images/bkgs/topoBoxTipo2-meio.png") repeat-y scroll 0 0 transparent !important;
	
}

.portletWrapper .portletHeader-dainamic .bottonPortlet{
    background: url("++resource++vindula.themedefault/images/bkgs/topoBoxTipo2-botton.png") no-repeat scroll 0 0 transparent !important;
	height:23px;
}
/* ------------ */

.portletWrapper .portletHeader a{
	color: #FFFFFF !important;
}

.portletWrapper .portletHeader a:hover {
	color: #000000 !important;
}

.portletWrapper .portletItem {
    background: url("++resource++vindula.themedefault/images/bkgs/conBoxTipo2.png") repeat-y scroll 0 0 transparent;
    padding: 15px !important;
    width: 202px;
}
.portletWrapper div.portletStaticText {
	background-color: #FFFFFF;
 	border: 2px solid #E0E0E0;
    padding: 10px;
	margin-bottom: 15px;
	margin-top: 3px;
}
.portletWrapper .portletFooter {
	background-image: url("++resource++vindula.themedefault/images/bkgs/rodapePortlet.png");
	background-position: left bottom;
    background-repeat: no-repeat;
	/*margin-top: -33px;
	margin-top: -18px;*/
	*margin-top: -38px;
  	margin-top: -25px;
    padding: 15px !important;
    width: 202px;
	height:17px;
}
.portletWrapper .portletNavigationTree .portletHeader{
	height:28px
	
}
.portletWrapper .portletNavigationTree .portletItem{
    margin-left:-2px;
	margin-left /*\**/:-1px\9;
	*margin-left:-2px;

}
.portletWrapper .portletNavigationTree .portletFooter{
    margin-left:-2px;
	margin-left /*\**/:-1px\9;
	*margin-left:-2px;

}

dl.portletError { 
	background: none; 
}
dl.portletError dd { 
	background: url("++resource++vindula.themedefault/images/bkgs/conBoxTipo2.png") repeat-y scroll 0 0 transparent; 
	width: 202px;
}
dl.portletError dd.portletFooter { 
	margin-top: -18px;
}
dl.portlet form#portlet-ramais h4 {
	margin: 5px 0;
}

dl.portlet form#portlet-ramais select {
	margin-bottom: 10px;
}
/* ...Portlets */


/* Adjustments... */
div#viewlet-below-content div.row {
	float:none;
}

div.portlet-birthday div#boxPortlet div.row h4 {
    padding: 0 11px 0 0;
}


/* Photo User portlets */
div#boxPortlet div.row {
	float: none;
	
}
div.portlet-birthday div#boxPortlet div.row {
	display: table;
}
div.portlet-user-image {
	float:left;
    width: 20%;
	height: 100%;
}
div.portlet-user-info {
	float:left;
	width: 80%;
}

div.portlet-user-info-larg{
	float:left;
	width: 100%;
}
/* 
 * * * THEME CSS UPDATES * * *
 */


/* Gallery Cycle... */
.gallery-cycle div.info {
	width:427px;
}

.gallery-cycle-controls {
	height:21px;
 	margin-top:-21px;
	*margin-top:0;
  	width:100%;
	*width:auto;
}

.gallery-cycle-controls img {
	cursor: pointer;
	float: left;
}
.gallery-cycle-controls div#cycle-nav {
	margin-top: 1px;
	float: left;
	*float:none;
}
.gallery-cycle-controls div#cycle-nav a {
	margin-top:3px;
	float:left;
	width:16px;
	height:16px;
}
.gallery-cycle-controls div#cycle-nav a.activeSlide {
	background-color: #999999;
}

.p-relative {
	position:relative !important;
}
/* ...Gallery Cycle */


/* 
 * * * LIBRARY * * *
 */

/* Margins, widths and heights */
.margin-auto { margin: auto; }
.width965px { width: 965px; }
.min-height150px { height: auto; min-height: 150px;}
.aling-right {text-align:right;}
.even{background: #DDD;}
.odd{background:#FFF}
.portletItem h4 a{color: #000000;}
.titulo_info_boxTipo2 h4 a{
    color: #F58220;
    font-weight: normal;
    line-height: 16px;
}
.float-right { float:right; }
.float-left { float:left; }
.c-pointer { cursor:pointer; }

/* Theme edit link */
a.theme-edit {position:absolute; display:none;}
a.theme-edit img {width:20px;}
div#informacao a.theme-edit{margin-top:-30px;}

/* My Vindula View */
.geral_lista_comentarios .comment { margin-left: 0 !important; }
.geral_lista_comentarios .comments-cont .comment { padding-left: 25px; }

/* My Vindula User Views... */
.userpage div.department { background-color: #FAA61A !important; }
.userpage #personal { width: 662px; }
.userpage #personal #photo { width: 165px; }
.userpage #personal #data { width: 497px; }
.userpage table { max-width: 486px; }
.userpage table td.field { background-image: url("++resource++vindula.themedefault/images/bkgs/back_td.jpg"); }
.userpage table td.value { background-image: url("++resource++vindula.themedefault/images/bkgs/back_td2.jpg"); }
.userpage #data div.area { width: 487px; }
.userpage div.area {
    border-bottom: 2px solid #FAA61A !important;
    width: 652px;
}
/* ...My Vindula User Views */