/* 
 * * * MYVINDULA COMMENTS * * *
 */

.geral_lista_comentarios .comment {
    border-top: 1px solid #C9C9C9;
    font-size: 90%;
    margin-left: 25px;
    padding-top: 5px;
}

.geral_lista_comentarios .comments-cont .comments-cont {
	margin: 5px 0 5px 25px;
	font-size: 100%;
	display:none;
	background-color: #F0F0F0;
	width: 85%;
	padding: 1px 25px 10px 0;
}

.geral_lista_comentarios .comments-cont .comments-cont .comment-body {
	background-color: #FFFFFF;
} 

.geral_lista_comentarios .bt_comentar{
  	margin-bottom: 15px;
    margin-top: 5px;
}

.geral_lista_comentarios .name-user {
	line-height:32px;
}

.geral_lista_comentarios .name-user h4 a,
.geral_lista_comentarios #like .link,
.geral_lista_comentarios span#number-comments,
.geral_lista_comentarios span#show-hide {
	cursor:pointer;
	color:#205C90;
	font-weight:bolder;
}

.geral_lista_comentarios #like{
	float:right;
	font-size:11px;
}

.geral_lista_comentarios .comment-body {
	background-color: #F8F8F8;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;*/
}

#howareu .comments-cont,
#scraps .comments-cont,
#myvindulaview .comments-cont {
	margin: 5px 0px 15px 25px;
	display:block;
}