/* 
 * * * MY VINDULA IMPORT USER VIEW * * *
 */



h2.h2title {
	color: #000000;
	margin-bottom: 10px;
}

.import-user {
	text-align: center;
}
.import-user table{
    margin: 0 auto;
}
.import-user td.middleColumn {
	width: 30%;
	text-align: center;
}

.import-user div.imgLoader {
	margin-right: 10px;
	display:none;
}

.import-user div.multi-steps{
    text-align: center;
	color: #D8D8D8;
	font-size: 50px;
}

.import-user div.multi-steps span.active{
    color: #000000;
}

.import-user table.tableImport tr.cor1{
    background-color: #D3D3D3;
}

